<!-- data_summary.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Summary</title>
</head>
<body>
    <h2>Data Summary</h2>
    <table border="1">
        <tr>
            <th>Statistic</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Count</td>
            <td>{{ summary_stats.loc['count'] }}</td>
        </tr>
        <tr>
            <td>Mean</td>
            <td>{{ summary_stats.loc['mean'] }}</td>
        </tr>
        <tr>
            <td>Std</td>
            <td>{{ summary_stats.loc['std'] }}</td>
        </tr>
        <!-- Add more rows for other statistics -->
    </table>
</body>
</html>
